{% extends "blog/base.html" %}
{% block content %}
    
    {% for post in posts %}
        <article class="media content-section">
          <!--load image of user-->
          <img class="rounded  article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <!--display username of user-->
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <!--display title of post-->
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <!--open button to open file-->
            <a class="btn btn-outline-primary  btn-d ml-2" style="float: right;"  href="{% url 'post-detail' post.id %}"><i class="fas fa-folder-open"></i> Open</a>
            <!--cancel button-->
            <a class="btn btn-outline-primary  btn-d " style="float: right;" href="{% url 'blog-home' %}"><i class="fa fa-times"></i> Cancel</a>

          </div>
        </article>
    {% endfor %}
    <h2 class="mb-5">  {{ view.kwargs.username }} posted {{ page_obj.paginator.count }} files in this group</h2>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
      <!--pages first and last-->
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
       <!--pages based on numbers--> 
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
        <!--pages next and last-->
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
